<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Caitlyn & Eric // Event Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/event-details.css') }}">
    </head>
    <body>
        <span id="nav-links" class="closed">
            <a href="/event-details">Event Details</a> // 
            <a href="/gallery">Gallery</a> // 
            <a href="/travel-and-stay">Travel & Stay</a>
        </span>
        <nav>
            <div class="hamburger-menu" onclick="toggleNavLinks()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <a id="initials" href="/">C&E</a>
            <a id="rsvp-button" href="/rsvp">RSVP</a>
        </nav>
        <main>
            <h4>Catering provided by <a href="https://www.asattbbq.com/" target="_blank">A Seat at the Table</a></h4>
            <div id="event-details-container">
                <div>
                    <h3>Where</h3>
                    <!-- <p>63 Emmett Lode Rd, Breckenridge, CO 80424, USA<p>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.0119469293504!2d-106.01624332368648!3d39.46905881277137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876af7031b58e6d5%3A0x61b07fe1ac0fbf55!2s63%20Emmett%20Lode%20Rd%2C%20Breckenridge%2C%20CO%2080424!5e0!3m2!1sen!2sus!4v1708112536298!5m2!1sen!2sus" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                        <p>Location will be provided upon request</p>
                    </div>
                </div>
                <div>
                    <h3>When</h3>
                    <p>September 14th, 2024</p>
                    <p>12:00 PM</p>
                </div>
                <div>
                    <h3>Schedule</h3>
                    <ul>
                        <li>12:00 PM: Ceremony</li>
                        <li>1:00 PM: Reception and Lunch</li>
                        <li>5:00 PM: Wrap up</li>
                    </ul>
                </div>
            </div>
        </main>
        <script>
            const toggleNavLinks = () => {
                let navLinks = document.querySelector('#nav-links');
                navLinks.classList.toggle('opened');
            }
        </script>
    </body>
</html>