<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wedding Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    </head>
    <body>
        <nav>
            <span id="nav-links">
                <a href="/event-details">Event Details</a> // 
                <a href="/gallery">Gallery</a> // 
                <a href="/travel-and-stay">Travel & Stay</a>
            </span>
            <a id="initials" href="/">C&E</a>
            <a id="rsvp-button" href="/rsvp">RSVP</a>
        </nav>
        <main>
            <h1>Gallery</h1>
            <div id="gallery">
                {% for image_file in image_files %}
                    <img src="{{ url_for('static', filename='images/gallery/' + image_file) }}" alt="Image">
                {% endfor %}
            </div>
        </main>
        <script src="../static/js/gallery.js">



        </script>
    </body>
</html>