<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Caitlyn & Eric // RSVP</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/rsvp.css') }}">
    </head>
    <body>
        <nav>
            <span id="nav-links">
                <a href="/event-details">Event Details</a> // 
                <a href="/gallery">Gallery</a> // 
                <a href="/travel-and-stay">Travel & Stay</a>
            </span>
            <a id="initials" href="/">C&E</a>
            <a id="rsvp-button" href="/rsvp">RSVP</a>
        </nav>
        <main>
            <h1>RSVP</h1>
            <form method="post" action="/rsvp">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="plus_ones">Number of Plus Ones:</label>
                <input type="number" id="plus_ones" name="plus_ones" min="0">
                <button type="submit">Submit RSVP</button>
            </form>            
        </main>
    </body>
</html>