<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Caitlyn & Eric // RSVP List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rsvp-list.css') }}">
</head>
<body>
    <span id="nav-links" class="closed">
        <a href="/event-details">Event Details</a> // 
        <a href="/gallery">Gallery</a> // 
        <a href="/travel-and-stay">Travel & Stay</a>
    </span>
    <nav>
        <div class="hamburger-menu" onclick="toggleNavLinks()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <a id="initials" href="/">C&E</a>
        <a id="rsvp-button" href="/rsvp">RSVP</a>
    </nav>
    <main>
        <h1>RSVP List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name // </th>
                    <th>Plus Ones</th>
                </tr>
            </thead>
            <tbody>
                {% for rsvp in rsvps %}
                <tr>
                    <td>{{ rsvp.name }}: </td>
                    <td>{{ rsvp.plus_ones }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script>
        const toggleNavLinks = () => {
            let navLinks = document.querySelector('#nav-links');
            navLinks.classList.toggle('opened');
        }
    </script>
</body>
</html>
