<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RSVP List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rsvp-list.css') }}">
</head>
<body>
    <nav>
        <span id="nav-links">
            <a href="/event-details">Event Details</a> // 
            <a href="/gallery">Gallery</a> // 
            <a href="/travel-and-stay">Travel & Stay</a>
        </span>
        <a id="initials" href="/">C&E</a>
        <a id="rsvp-button" href="/rsvp">RSVP</a>
    </nav>
    <main>
        <h1>RSVP List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name // </th>
                    <th>Plus Ones</th>
                </tr>
            </thead>
            <tbody>
                {% for rsvp in rsvps %}
                <tr>
                    <td>{{ rsvp.name }}: </td>
                    <td>{{ rsvp.plus_ones }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
