<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wedding Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/travel-and-stay.css') }}"
    </head>
    <body>
        <nav>
            <span id="nav-links">
                <a href="/event-details">Event Details</a> // 
                <a href="/gallery">Gallery</a> // 
                <a href="/travel-and-stay">Travel & Stay</a>
            </span>
            <a id="initials" href="/">C&E</a>
            <a id="rsvp-button" href="/rsvp">RSVP</a>
        </nav>
        <main>
            <h1>Travel & Stay</h1>
            <div>
                <h2>Main Event</h2>
                <p>Nestled amidst the breathtaking peaks of Breckenridge, Colorado, we invite you to join us for a one-of-a-kind wedding celebration that blends tradition, nature, and Southern hospitality.</p>

                <p>Our love will be bound in a timeless handfasting ceremony, symbolizing the unity of our hearts and souls. Surrounded by the majestic beauty of the mountains, we will exchange vows and promises of lifelong commitment, creating memories to cherish for years to come.</p>

                <p>Get ready to indulge in a true taste of Texas with a mouthwatering barbecue feast! Savor the smoky flavors of slow-cooked brisket, tender ribs, and savory sides, all prepared with love and served with Southern hospitality. Limited vegan options will also be available for our guests to enjoy.</p>

                <p>Our wedding will take place in a charming mountain cabin, providing an intimate and cozy atmosphere for our festivities. Surrounded by towering pines and crisp mountain air, the cabin offers a picturesque backdrop for our joyous union.</p>

                <p>We can't wait to share this special day with our cherished family and friends. So bring a jacket, bring your appetite, and get ready for a wedding celebration that combines the beauty of nature, the warmth of friendship, and the magic of love.</p>

                <h2>What to expect & things to do</h2>
                <p><strong>Experience the Vibrant Fall Colors:</strong> September in Breckenridge brings stunning displays of autumn foliage as the aspen trees turn golden yellow. Take scenic drives along routes like Boreas Pass Road or hike through the surrounding trails to immerse yourself in the breathtaking beauty of the changing leaves.</p>

                <p><strong>Outdoor Adventures:</strong> With mild temperatures and clear skies, September is an ideal time for outdoor activities in Breckenridge. Enjoy hiking, mountain biking, or horseback riding on the extensive network of trails. You can also try your hand at fly fishing in the area's pristine rivers and streams.</p>
                
                <p><strong>Attend Festivals and Events:</strong> Breckenridge hosts several festivals and events in September, celebrating everything from music and art to food and culture. Don't miss the Breckenridge Wine Classic, where you can sample wines from around the world amidst stunning mountain views, or the Breckenridge Film Festival showcasing independent films from talented filmmakers.</p>
                
                <p><strong>Explore Historic Downtown:</strong> Stroll through the charming streets of historic downtown Breckenridge, lined with quaint shops, art galleries, and cozy cafes. Learn about the town's rich mining history by visiting museums and historic sites like the Barney Ford House Museum or the Country Boy Mine.</p>
                
                <p><strong>Adventure Park Activities:</strong> Head to the Breckenridge Adventure Park for adrenaline-pumping activities such as zip-lining, alpine slides, and ropes courses. It's a fantastic way to enjoy the crisp mountain air and stunning scenery while having fun with family and friends.</p>
                
                <p><strong>Relax and Unwind:</strong> After a day of exploration, unwind with a visit to one of Breckenridge's many spas or wellness centers. Treat yourself to a massage or yoga session to rejuvenate both body and mind amidst the serene mountain surroundings.</p>
                
                <p>In September, Breckenridge offers a perfect blend of outdoor adventures, cultural experiences, and relaxation opportunities, making it an ideal destination for a memorable fall getaway.</p>
            </div>
            <h1>Looking for somewhere to stay?</h1>
            <div>
                <ol>
                    <li><strong>Luxury Hotels (Higher Price Range):</strong></li>
                    <ul>
                        <li><a href="https://www.breckenridge.com/plan-your-trip/stay/one-ski-hill-place.aspx" target="_blank">One Ski Hill Place, A RockResort</a></li>
                        <li><a href="https://thelodgeatbreckenridge.com/?gad_source=1&gclid=CjwKCAiA8sauBhB3EiwAruTRJlJams89cyYlCvWRMFZ6aJVATAxACGWs78Rj2l1ypdsLwLsKUI60MRoCLlUQAvD_BwE" target="_blank">The Lodge at Breckenridge</a></li>
                        <li><a href="https://www.grandlodgeonpeak7.com/?y_source=1_MjcxMTgxNDYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D" target="_blank">Grand Lodge on Peak 7</a></li>
                        <li><a href="https://www.marriott.com/en-us/hotels/qkbri-residence-inn-breckenridge/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0" target="_blank">Breckenridge Residence Inn by Marriott</a></li>
                    </ul>
            
                    <li><strong>Mid-Range Hotels (Moderate Price Range):</strong></li>
                    <ul>
                        <li><a href="https://www.hilton.com/en/hotels/qkbvrdt-doubletree-breckenridge/?SEO_id=GMB-AMER-DT-QKBVRDT&y_source=1_MTM3MjY1MC03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D" target="_blank">DoubleTree by Hilton Hotel Breckenridge</a></li>
                        <li><a href="https://beaverrun.com/" target="_blank">Beaver Run Resort and Conference Center</a></li>
                        <li><a href="https://www.thevillageatbreckenridge.org/" target="_blank">Village at Breckenridge Resort</a></li>
                    </ul>
            
                    <li><strong>Budget-Friendly Options (Lower Price Range):</strong></li>
                    <ul>
                        <li><a href="https://www.thebivvi.com/" target="_blank">The Bivvi Hostel</a></li>
                        <li><a href="https://www.breckinn.com/" target="_blank">Breck Inn</a></li>
                        <li><a href="https://www.vacasa.com/usa/Pine-Ridge-Condos-CO/?utm_source=gmb&utm_medium=organic&utm_campaign=GMB-PineRidgeCondominiums" target="_blank">Pine Ridge Condominiums</a></li>
                    </ul>
                </ol>
        
        Please note that prices may vary depending on the season, availability, and any ongoing promotions or events. It's recommended to check the hotel's website or a booking platform for the most accurate pricing information for your desired travel dates.
            </div>
        </main>
    </body>
</html>